
    <div id="current-weather" class="panel panel-primary text-center">
        <header class="panel-heading">
            <div class="row ">
                <div class="col-md-12">
                    <div class="row">
                        <h1>{{this.name}}</h1>
                    </div>
                    <div class="row">
                        <h4 class="col-md-12">{{dateDisplayFix dt}}</h4>
                    </div>
                </div>
            </div>             
        </header>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-md-3">
                    <h3>{{numberToOneDigitDisplayFix main.temp_min}}°C</h3>
                </div>-->
                <div class="col-md-12">
                    <h1>{{numberToOneDigitDisplayFix main.temp}}°C</h1> 
                </div>
                <!--<div class="col-md-3">
                    <h3>{{numberToOneDigitDisplayFix main.temp_max}}°C</h3>
                </div>-->
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <div>
                        <img src="{{displayWeatherIcon weather.0.icon}}" alt="weather-icon">  
                    </div>
                    {{#weather}}
                        <h2 class="col-md-12">{{this.description}}</h2>
                    {{/weather}}
                </div>
            </div>
        </div>
        
        <div class="panel-footer">
            <h4>Humidity: {{main.humidity}} %</h4>
            <h4>Wind speed: {{numberToOneDigitDisplayFix wind.speed}} m/s</h4>
            <h4>Atmospheric pressure: {{numberToOneDigitDisplayFix main.pressure}} hPa</h4>            
        </div>
    </div>