
    <div class="panel panel-default text-center">
        <header class="panel-heading">
            <div class="row ">
                <div class="col-md-12">
                    <div class="row">
                        <h1>{{this.name}}</h1>
                    </div>
                    <div class="row">
                        <h4 class="col-md-12">{{dateDisplayFix dt}}</h4>
                    </div>
                </div>
            </div>             
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{numberToOneDigitDisplayFix main.temp}}°C</h1> 
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <div>
                        <img src="{{displayWeatherIcon weather.0.icon}}" alt="weather-icon">  
                    </div>
                    {{#weather}}
                        <h4 class="col-md-12">{{this.description}}</h4>
                    {{/weather}}
                </div>
            </div>
        </div>
        
        <article>
            <div>Pressure: {{numberToOneDigitDisplayFix main.pressure}} hPa</div>
            <div>Humidity: {{main.humidity}} %</div>
            <div>Wind speed: {{numberToOneDigitDisplayFix wind.speed}} m/s</div>
        </article>
        <aside>
            <div>Max t: {{numberToOneDigitDisplayFix main.temp_max}}°C</div>
            <div>Min t: {{numberToOneDigitDisplayFix main.temp_min}}°C</div>
        </aside>
    </div>