<div class="container-fluid">
    <div class="panel panel-default">
        <header class="panel-heading">
            <h3>TODAY in {{this.name}}</h3>
            <h3>Temperature: {{numberToOneDigitDisplayFix main.temp}}°C</h3>            
        </header>
        <div>data: {{dateDisplayFix dt}}</div>
        {{#weather}}
        <div>description: {{this.description}}</div>
        {{/weather}}
        <!--<div>Image: <img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="weather-icon"></div>-->
        <img src="{{displayWeatherIcon weather.0.icon}}" alt="weather-icon">
        <article>
            <div>Pressure: {{numberToOneDigitDisplayFix main.pressure}} hPa</div>
            <div>Humidity: {{main.humidity}} %</div>
            <div>Wind speed: {{numberToOneDigitDisplayFix wind.speed}} m/s</div>
        </article>
        <aside>
            <div>Max t: {{numberToOneDigitDisplayFix main.temp_max}}°C</div>
            <div>Min t: {{numberToOneDigitDisplayFix main.temp_min}}°C</div>
        </aside>
    </div>
</div>