<ul class="list-group">
    {{#each list}}
        <li class="panel panel-default list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{displayWeatherIcon weather.0.icon}}" alt="weather-icon">
                    <!--<img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="weather-icon">-->
                </div>
                <div class="col-md-2">
                    <h3> {{numberToOneDigitDisplayFix temp.day}}°C </h3>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Date: {{dateDisplayFix dt}}</div>
                        <div class="col-md-6">
                            Wind: <span>{{numberToOneDigitDisplayFix speed}}</span> m/s
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Max: <span>{{numberToOneDigitDisplayFix temp.max}}</span>°C</div>
                        <div class="col-md-6">Min: <span>{{numberToOneDigitDisplayFix temp.min}}</span>°C</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Pressure: <span>{{numberToOneDigitDisplayFix pressure}}</span> hPA
                        </div>
                        <div class="col-md-6">
                            Humidity: {{humidity}} %
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>


<!--<ul class="list-group">-->
        <!--{{#each list}}-->
<!--<li class="panel panel-default list-group-item">-->
<!--<div class="row">-->
<!--<div class="col-md-2">-->
<!--<img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="weather-icon">-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--<h3> {{temp.day}}°C </h3>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<div class="row">-->
<!--<div class="col-md-6">Max: <span>{{temp.max}}</span>°C</div>-->
<!--<div class="col-md-6">Min: <span>{{temp.min}}</span>°C</div>-->
<!--</div>-->
<!--<div class="row">                -->
<!--<div class="col-md-6">-->
<!--Humidity: {{humidity}} %-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--Wind: <span>{{speed}}</span> m/s-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--Pressure: <span>{{pressure}}</span> hPA-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--Humidity: {{humidity}} %-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
        <!--{{/each}}-->
<!--</ul>-->

<!--<ul>
    {{#each list}}
        <li>
            <div>
                {{dt}}
            </div>
            <div>
                {{description}}
            </div>

            <div>
                {{temp.day}}°C
            </div>
            <div>
                <img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="weather-icon"
                >
            </div>

            <article>
                <div>
                    Pressure: <span>{{pressure}}</span> hPA
                </div>
                <div>
                    Humidity: {{humidity}} %
                </div>
                <div>
                    Wind: <span>{{speed}}</span> m/s
                </div>
            </article>

            <aside>
                <div>Max t: <span>{{temp.max}}</span>°C</div>
                <div>Min t: <span>{{temp.min}}</span>°C
                </div>
            </aside>
        </li>
    {{/each}}
</ul>-->