<ul class="list-group">
     {{#each list}}
        <li class="panel panel-default list-group-item">
            <div>
                <img src="http://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="weather-icon">
            </div>
            <div>
                {{dt}}
            </div>
            <div>
                {{description}}
            </div>

            <div>
                {{temp.day}}°C
            </div>

            <article>
                <div>
                    Pressure: <span>{{pressure}}</span> hPA
                </div>
                <div>
                    Humidity: {{humidity}} %
                </div>
                <div>
                    Wind: <span>{{speed}}</span> m/s
                </div>
            </article>

            <aside>
                <div>Max t: <span>{{temp.max}}</span>°C</div>
                <div>Min t: <span>{{temp.min}}</span>°C
                </div>
            </aside>
        </li>
    {{/each}}
</ul>